<div class="span3">
    <div class="row-fluid blog-sidebar">
        <div class="span12">
            <!-- start: Tags -->
            <%= render "components/tags"%>
            <!-- end: Tags --> 

            <!-- start: popular article -->
            <%= render "components/latest_post"%>
            <!-- end: popular article -->

            <!-- start: months and years -->
            <%= render "components/months_years_article"%>
            <!-- end: months and years -->
        </div>
    </div>
</div>