<div class="row-fluid">
    <div class="span12 content-wrapper">
        <div class="row-fluid content-home">
            <!-- begin: new article-article -->
            <%= render 'form' %>
            <!-- end: new article-article -->
            
            <!-- begin:article-sidebar -->
            <%= render 'components/article_siderbar'%>
            <!-- end:article-sidebar -->
        </div>
    </div>
</div>