<!-- begin:content -->
<div class="row-fluid">
    <div class="span12 content-wrapper">
        <div class="row-fluid content-home">
            <div class="span6">
                <header>
                    <h3>Who We Are</h3>
                </header>
                <p>
                    Ensure that your company runs optimally, with the right technology team.
                    When staffing your technology positions, it is very important that you have personnel who are specialists in their given area of expertise, 
                    while still able to interact well with your non-technical business teams when appropriate.
                </p>
                <p>
                    We begin with a very clear understanding of your technology needs as an organization, 
                    and then we consider the roles and functions needed within your technology to properly support those needs.  
                    Once this is understood, we then visit your team and with respect and mindfulness, we evaluate their current function and skills within the unit. 
                    Finally we will provide you with an evaluation and recommendations for how to best staff your team going forward.
                </p>
                <p>
                    Should you find yourself in a situation where one or more of your team members is not meeting their requirements, 
                    and you would like to understand how to cultivate their individual success, we will work with you to understand your concerns, 
                    then we develop a plan of action that you are comfortable with.  You may choose to implement the plan on your own, or you may choose to ask us to implement it on your behalf.
                </p>
            </div>
            <div class="span6">
                <header>
                    <h3>Our Skills</h3>
                </header>

                <div class="progress progress-green">
                    <div class="bar" data-percentage="99" style="width: 99%;">
                        <div>Web development - <span>99%</span> </div>
                    </div>
                </div>
                <div class="progress progress-green">
                    <div class="bar" data-percentage="98" style="width: 98%;">
                        <div>Salesforce.com - <span>98%</span> </div>
                    </div>
                </div>
                <div class="progress progress-green">
                    <div class="bar" data-percentage="100" style="width: 100%;">
                        <div>Apex Code & Visualforce Page - <span>100%</span></div>
                    </div>
                </div>
                <div class="progress progress-green">
                    <div class="bar" data-percentage="85" style="width: 85%;">
                        <div>Ruby - <span>85%</span></div>
                    </div>
                </div>
                <div class="progress progress-green">
                    <div class="bar" data-percentage="75" style="width: 75%;">
                        <div>Ruby on Rails - <span>75%</span></div>
                    </div>
                </div>
                <div class="progress progress-green">
                    <div class="bar" data-percentage="80" style="width: 80%;">
                        <div>Agile Development & Scrum - <span>80%</span></div>
                    </div>
                </div>
                <div class="progress progress-green">
                    <div class="bar" data-percentage="90" style="width: 90%;">
                        <div>System Integration - <span>90%</span></div>
                    </div>
                </div>
            </div>
        </div>

        <hr class="dotted">

        <div class="row-fluid content-home the-team">
            <ul class="thumbnails">
                <li class="span4">
                    <div class="thumbnail">
                        <img src="/assets/bruce.jpg" alt="">
                        <div class="caption">
                            <h3>Bruce Yue</h3>
                            <h5>Salesforce Certified Developer</h5>
                            <p>
                                Focusing just on force.com is not enough. Ruby on Rails, here I come... Technology changes so fast it's overwhelming.
                                Stick to your old job with the language you know, you can't possibly keep up.
                            </p>
                            <a href="https://twitter.com/bruceyue" target="_blank"> <i class="icon-twitter"></i></a>
                            <a href="http://www.facebook.com/bruce.yue" target="_blank"> <i class="icon-facebook-sign"></i></a>
                            <a href="http://www.linkedin.com/pub/bruce-yue/42/959/978" target="_blank"><i class="icon-linkedin"></i></a>
                        </div>
                    </div>
                </li>
                <li class="span4">
                    <div class="thumbnail">
                        <img src="/assets/team2.jpg" alt="">
                        <div class="caption">
                            <h3>Avriqq Los</h3>
                            <h5>Web Designer</h5>
                            <p>
                                A professional Web site is a perfect marriage of form and function. The site must be aesthetically
                                pleasing and sometimes even entertaining, in order to catch the audience’s attention. 
                            </p>
                            <a href="#">
                                <i class="icon-twitter"></i>
                            </a>
                            <a href="#">
                                <i class="icon-facebook-sign"></i>
                            </a>
                            <a href="#">
                                <i class="icon-linkedin"></i>
                            </a>
                        </div>
                    </div>
                </li>
                <li class="span4">
                    <div class="thumbnail">
                        <img src="/assets/team3.jpg" alt="">
                        <div class="caption">
                            <h3>John Doe</h3>
                            <h5>Product Manager</h5>
                            <p>
                                Developers, managers, or business analysts shouldn't make business-critical decisions.
                                Present details to business owners in a language they can understand, and let them make the decisions.
                            </p>
                            <a href="#">
                                <i class="icon-twitter"></i>
                            </a>
                            <a href="#">
                                <i class="icon-facebook-sign"></i>
                            </a>
                            <a href="#">
                                <i class="icon-linkedin"></i>
                            </a>

                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <!-- end:about --> 

        <hr class="dotted">
        
    </div>
</div>
<!-- end:content -->