<div class="row-fluid">
    <div class="span12 content-wrapper">
        <!-- begin:elements -->
        <div class="row-fluid content-home">
            <div class="row-fluid">
                <div class="span12 blog-content">
                    <div class="page-header">
                        <h2><%= @book.name %></h2>
                    </div>
                    <small class="meta-date">
                        Contributor: <a href=""><%= @book.contributor %></a> |
                        Publication Date: <%= @book.publication_date %>
                    </small>
                    <p>
                        <%= markdown @book.content %>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>